In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('dados/vgsales.csv')
dados.head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

In [3]:
# pegando serie JP_Sales separando para an√°lises
dados_jp = dados['JP_Sales']
dados_s_jp = pd.DataFrame(dados_jp)

In [4]:
dados_s_jp.mask(dados_s_jp == 0.00, 0.01)

       JP_Sales
0          3.77
1          6.81
2          3.79
3          3.28
4         10.22
...         ...
16593      0.01
16594      0.01
16595      0.01
16596      0.01
16597      0.01

[16598 rows x 1 columns]

In [5]:
# transformando todos valores "0.00" das colunas "Sales" em valores "0.01"
new_dados = dados.mask(dados == 0.00, 0.01)
new_dados.tail(20)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16578,16581,Outdoors Unleashed: Africa 3D,3DS,2011.0,Sports,Mastiff,0.01,0.01,0.01,0.01,0.01
16579,16582,PGA European Tour,N64,2000.0,Sports,Infogrames,0.01,0.01,0.01,0.01,0.01
16580,16583,Real Rode,PS2,2008.0,Adventure,Kadokawa Shoten,0.01,0.01,0.01,0.01,0.01
16581,16584,Fit & Fun,Wii,2011.0,Sports,Unknown,0.01,0.01,0.01,0.01,0.01
16582,16585,Planet Monsters,GBA,2001.0,Action,Titus,0.01,0.01,0.01,0.01,0.01
16583,16586,Carmageddon 64,N64,1999.0,Action,Virgin Interactive,0.01,0.01,0.01,0.01,0.01
16584,16587,Bust-A-Move 3000,GC,2003.0,Puzzle,Ubisoft,0.01,0.01,0.01,0.01,0.01
16585,16588,Breach,PC,2011.0,Shooter,Destineer,0.01,0.01,0.01,0.01,0.01
16586,16589,Secret Files 2: Puritas Cordis,DS,2009.0,Adventure,Deep Silver,0.01,0.01,0.01,0.01,0.01
16587,16590,Mezase!! Tsuri Master DS,DS,2009.0,Sports,Hudson Soft,0.01,0.01,0.01,0.01,0.01
16588,16591,Mega Brain Boost,DS,2008.0,Puzzle,Majesco Entertainment,0.01,0.01,0.01,0.01,0.01
16589,16592,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,PSV,2016.0,Action,dramatic create,0.01,0.01,0.01,0.01,0.01
16590,16593,Eiyuu Densetsu: Sora no Kiseki Material Collec...,PSP,2007.0,Role-Playing,Falcom Corporation,0.01,0.01,0.01,0.01,0.01
16591,16594,Myst IV: Revelation,PC,2004.0,Adventure,Ubisoft,0.01,0.01,0.01,0.01,0.01
16592,16595,Plushees,DS,2008.0,Simulation,Destineer,0.01,0.01,0.01,0.01,0.01
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.01,0.01,0.01,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.01,0.01,0.01,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.01,0.01,0.01,0.01,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.01,0.01,0.01,0.01,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.01,0.01,0.01,0.01

In [6]:
new_dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [7]:
# verificando valores null ou NaN
check_na = new_dados.isna()
check_na.value_counts()

Rank   Name   Platform  Year   Genre  Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
False  False  False     False  False  False      False     False     False     False        False           16291
                        True   False  False      False     False     False     False        False             249
                        False  False  True       False     False     False     False        False              36
                        True   False  True       False     False     False     False        False              22
dtype: int64

In [8]:
# vericando valores null ou NaN e fazendo a contagem
new_dados.isnull().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [9]:
# excluindo valores nulos das series "Year" e "Publisher" 
new_dados.dropna(axis=0, inplace=True)

In [10]:
new_dados.isnull().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [11]:
# transformando a serie "Rank" em index
new_dados.set_index('Rank', inplace=True)

In [12]:
# renomeando colunas
new_dados.rename(columns={"Name":"name",
                  "Platform":"plataform",
                  "Year":"year", "Genre":"genre", 
                  "Publisher":"publisher", 
                  "NA_Sales":"na_sales", 
                  "EU_Sales":"eu_sales", 
                  "JP_Sales":"jp_sales", 
                  "Other_Sales":"other_sales",
                  "Global_Sales":"global_sales"}, inplace=True)

In [13]:
# convertendo tipo de dado
new_dados['year'] = new_dados['year'].astype(int)

In [14]:
new_dados.head(10)

,name,plataform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
6,Tetris,GB,1989,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
7,New Super Mario Bros.,DS,2006,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
8,Wii Play,Wii,2006,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
9,New Super Mario Bros. Wii,Wii,2009,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
10,Duck Hunt,NES,1984,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

In [15]:
# retirando caracter dos tipos de dados de uma coluna
new_dados["name"] = new_dados["name"].apply(lambda x: x.replace(".", ""))

In [16]:
new_dados['name'].head(20)

Rank
1                                       Wii Sports
2                                 Super Mario Bros
3                                   Mario Kart Wii
4                                Wii Sports Resort
5                         Pokemon Red/Pokemon Blue
6                                           Tetris
7                             New Super Mario Bros
8                                         Wii Play
9                         New Super Mario Bros Wii
10                                       Duck Hunt
11                                      Nintendogs
12                                   Mario Kart DS
13                     Pokemon Gold/Pokemon Silver
14                                         Wii Fit
15                                    Wii Fit Plus
16                              Kinect Adventures!
17                              Grand Theft Auto V
18                   Grand Theft Auto: San Andreas
19                               Super Mario World
20    Brain Age: Train Your Brain in Minutes a Day
Name: name, dtype: object

In [17]:
# expotando o novo dataset
new_dados.to_csv('dados/new_vgsales.csv')